{
  "printWidth": 120,
  "bracketSpacing": false,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": [
        "*.sol"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}